<% layout("/layouts/boilerplate") -%>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Create a New Listing</h3>

    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=PUT"
      class="needs-validation"
      enctype="multipart/form-data"
      novalidate
    >
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="<%= listing.title %>"
          type="text"
          value="<%= listing.title %>"
          id="title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please enter a valid title.</div>
      </div>

      <!-- Category -->
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select
          name="listing[category]"
          id="category"
          class="form-select"
          required
        >
          <option value="">Select category</option>
          <option value="rooms">Rooms</option>
          <option value="iconic">Iconic City</option>
          <option value="mountains">Mountains</option>
          <option value="castles">Castles</option>
          <option value="pools">Amazing Pools</option>
          <option value="camping">Camping</option>
          <option value="farms">Farms</option>
          <option value="arctic">Arctic</option>
          <option value="domes">Domes</option>
          <option value="boats">Boats</option>
        </select>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="<%= listing.description %>"
          id="description"
          class="form-control"
          required
        >
<%= listing.description %>
        </textarea>
        <div class="valid-feedback">Nice description!</div>
        <div class="invalid-feedback">Description is required!</div>
      </div>

      <!-- Original Image Preview -->
      <div class="mb-3">
        Original Upload Image <br />
        <img src="<%= originalImageUrl %>" alt="<%= listing.title %>" />
      </div>

      <!-- Upload New Image -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input
          name="listing[image]"
          type="file"
          id="image"
          class="form-control"
        />
        <div class="invalid-feedback">
          Only JPG, JPEG, or PNG images are allowed.
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="<%= listing.price %>"
            type="number"
            value="<%= listing.price %>"
            id="price"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="<%= listing.country %>"
            type="text"
            value="<%= listing.country %>"
            id="country"
            class="form-control"
            required
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="<%= listing.location %>"
          type="text"
          value="<%= listing.location %>"
          id="location"
          class="form-control"
          required
        />
      </div>
      <br /><br />
      <button class="btn btn-dark add-btn">Edit</button>
      <br /><br />
    </form>
  </div>
</div>
