<% layout("/layouts/boilerplate") -%>
<!-- <h3>All Listings</h3> -->

<div id="filters">
  <% const categories = [ { key: null, icon: "fa-border-all", label: "All" }, {
  key: "trending", icon: "fa-fire", label: "Trending" }, { key: "rooms", icon:
  "fa-bed", label: "Rooms" }, { key: "iconic", icon: "fa-mountain-city", label:
  "Iconic City" }, { key: "mountains", icon: "fa-mountain", label: "Mountains"
  }, { key: "castles", icon: "fa-fort-awesome", label: "Castles" }, { key:
  "pools", icon: "fa-person-swimming", label: "Amazing Pools" }, { key:
  "camping", icon: "fa-campground", label: "Camping" }, { key: "farms", icon:
  "fa-cow", label: "Farms" }, { key: "arctic", icon: "fa-snowflake", label:
  "Arctic" }, { key: "domes", icon: "fa-igloo", label: "Domes" }, { key:
  "boats", icon: "fa-ship", label: "Boats" } ]; %> <% categories.forEach(cat =>
  { %>
  <a
    href="<%= cat.key ? `/listings?category=${cat.key}` : '/listings' %>"
    class="filter-link"
  >
    <div
      class="filter <%= (!category && !cat.key) || category === cat.key ? 'active' : '' %>"
    >
      <div>
        <i class="fa-solid <%= cat.icon %>"></i>
      </div>
      <p><%= cat.label %></p>
    </div>
  </a>
  <% }) %>

  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" id="switchCheckDefault" />
      <label class="form-check-label"> Display total after taxes </label>
    </div>
  </div>
</div>

<!-- index grid -->
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for(let listing of allListings) { %>
  <a
    href="/listings/<%= listing._id %>"
    class="listing-link"
    data-title="<%= listing.title.toLowerCase() %>"
    data-location="<%= listing.location.toLowerCase() %>"
    data-country="<%= listing.country.toLowerCase() %>"
  >
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="<%= listing.title %>"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <strong> <%= listing.title %> </strong><br />
          <span class="price" data-price="<%= listing.price %>">
            &#8377; <%= listing.price.toLocaleString("en-in") %>
          </span>

          / night
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
